@import "./config";
@import "./utilities";
@import "./menu";
@import "./placeholder";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
.root {
  position: relative;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

a {
  text-decoration: none;
  color: $lightBg;
  cursor: pointer;
}

.login {
  height: calc(100vh - 50px);
  background: $lightBg;
  overflow: hidden;

  .login__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .login__header {
      margin-bottom: 1rem;

      h3 {
        font-size: 1.5rem;
        color: #181818;

        .fa {
          color: $primaryColor;
        }
      }
    }

    .login__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 2.5rem;

      h2 {
        font-weight: 700;
        line-height: 2;
      }

      p {
        color: $lightColor;
        font-size: 1rem;
      }
    }

    form {
      display: flex;
      flex-direction: column;

      input {
        width: 350px;
        padding: 0.5rem;
        margin: 0.3rem 0;
        border: 1px solid #aaa;
        color: #000;
        font-size: 13px;
        outline: none;
        border-radius: 2px;

        &:focus {
          border: 1px solid $primaryColor;
        }

        &::placeholder {
          color: #555;
        }
      }

      .btn-primary {
        margin-top: 1.3rem;
        background: $primaryColor;
        color: $lightBg;
        border: none;

        &:disabled {
          opacity: 0.5;
          cursor: none;
        }
      }
    }

    .login__links {
      text-align: center;
      p {
        margin: 1.5rem;
        font-size: 1rem;

        a {
          text-decoration: none;
        }

        &:nth-child(1),
        span {
          cursor: pointer;
          font-size: 15px;
          font-weight: 700;
          color: $primaryColor;
        }
      }
    }
  }
}

.register {
  height: calc(100vh - 50px);
  width: 100%;
  color: $lightBg;
  background: $primaryColor;
  overflow: hidden;

  .register__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .register__header {
      margin: 0.5rem 0;

      h3 {
        font-size: 2rem;

        .fa {
          color: $lightBg;
        }
      }
    }

    .register__title {
      margin-bottom: 0.5rem;
      text-align: center;

      h2 {
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 1;
        font-size: 1.8rem;
      }
    }

    form {
      background: $lightBg;
      color: #181818;
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
      max-width: 440px;
      width: 90%;
      margin-top: 0.3rem;

      // .group_data {
      //   display: flex;
      //   flex-direction: row;
      //   align-items: center;
      //   grid-gap: 10px;
      // }

      .form__group {
        display: flex;
        flex-direction: column;
        margin: 0.3rem 0;

        label {
          font-size: 14px;
          margin-bottom: 0.3rem;
        }

        input {
          padding: 0.5rem;
          border: 1px solid $lightColor;
          //   background: none;
          color: #000;
          font-size: 13px;
          outline: none;
          border-radius: 2px;

          &:focus {
            border: 1px solid $primaryColor;
          }
        }
      }

      .register__info {
        margin: 1rem auto;
        width: 85%;
        text-align: center;

        p {
          font-size: 12px;

          span {
            color: $primaryColor;
            font-weight: 500;
            cursor: pointer;
          }
        }
      }

      .btn {
        color: $lightBg;
        margin-bottom: 1rem;
      }

      .register__links {
        // margin: 0.5rem 0;
        text-align: center;

        p {
          font-size: 14px;

          a {
            text-decoration: none;

            span {
              color: $primaryColor;
              font-weight: 600;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.reset-pass {
  height: calc(100vh - 50px);
  background: $lightBg;
  overflow: hidden;
  width: 100%;

  .reset__wrapper {
    margin-top: 6rem;
    margin-left: 30%;
    display: flex;
    flex-direction: column;

    .reset__title {
      margin-bottom: 1rem;
      color: #181818;

      h1 {
        font-weight: 400;
        letter-spacing: 1px;
      }

      h3 {
        font-weight: normal;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      width: 420px;

      label {
        font-size: 14px;
        margin-bottom: 8px;

        span {
          color: $primaryColor;
        }
      }

      input {
        padding: 0.5rem;
        width: 90%;
        font-size: 13px;
        color: #181818;
        background: #fdfdfd;
        outline: none;
        border: 1px solid #aaa;
        border-radius: 2px;

        &:focus {
          border: 1px solid $primaryColor;
        }

        &::placeholder {
          color: #555;
        }
      }
    }

    .btn__group {
      margin: 2rem 0;

      .btn-secondary {
        border: 1px solid $primaryColor;
        color: $primaryColor;
        padding: 0.5rem 2rem;
        font-weight: normal;
        font-size: 14px;
        margin-right: 10px;
        letter-spacing: 1px;
      }

      .btn-primary {
        color: $lightBg;
        letter-spacing: 1px;
        padding: 0.5rem 1rem;
        font-size: 14px;
        font-weight: normal;
      }
    }
  }
}

.homepage {
  background: $lightBg;
  height: calc(100% - 100px);
  width: 100%;
  position: relative;
  min-height: calc(100vh - 100px);

  .homepage__wrapper {
    // border: 1px solid #000;
    height: 100%;
    width: 88%;
    display: grid;
    padding: 5rem 0 2rem;
    position: relative;
    grid-template-columns: 24% 45% 27%;
    grid-gap: 2%;
    margin: 0rem auto;

    .homepage__create {
      display: flex;
      flex-direction: column;
      color: #555;
      border-radius: 2px;
      margin-bottom: 1rem;
      background: #fff;
      box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.5);

      .create__group {
        display: flex;
        padding: 0.8rem 1.5rem;
        align-items: center;
        grid-gap: 5px;

        input {
          width: 100%;
          padding: 0.3rem;
          border: none;
          color: #181818;
          font-size: 14px;
          outline: none;
        }

        .fa {
          font-size: 1.5rem;
        }
      }

      .homepage__icons {
        margin: 0.8rem 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        .icon__group {
          display: flex;
          flex-direction: row;
          grid-gap: 8px;
          align-items: center;
          cursor: pointer;

          &:first-child,
          &:nth-child(3) {
            .fa {
              color: lighten($color: $primaryColor, $amount: 5%);
            }
          }

          &:nth-child(2) {
            .fa {
              color: rgb(178, 10, 178);
            }
          }

          &:nth-child(4) {
            .fa {
              color: rgb(239, 86, 137);
            }
          }

          .fa {
            font-size: 1.1rem;
          }

          p {
            font-size: 13px;
          }
        }
      }
    }

    .post__wrapper {
      position: relative;
      width: 100%;

      .post__item {
        margin: 0.5rem 0;
        width: 100%;
        background: #fff;
        padding: 10px;
        border-radius: 2px;
        box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.5);

        &:hover {
          box-shadow: 2px 2px 10px rgba($color: #000000, $alpha: 0.5);
        }
        .author {
          display: flex;
          align-items: center;
          grid-gap: 10px;

          .author__dp {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            cursor: pointer;
            // box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.5);

            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
              cursor: pointer;
            }
          }

          .author__info {
            width: 100%;
            display: flex;
            flex-direction: column;
            line-height: 1.1;

            h4 {
              font-size: 16px;
              font-weight: 700;
              cursor: pointer;
            }

            p,
            time {
              font-size: 12px;
              font-weight: 400;
            }
          }

          .post__btns {
            display: flex;
            grid-gap: 5px;

            .btn {
              font-size: 12px;
            }
          }
        }

        .post__info {
          padding: 0.7rem 0rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          p {
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 1rem;
          }

          .post__img {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
              max-height: 350px;
              height: auto;
              width: auto;
              max-width: 100%;
              cursor: pointer;
            }
          }
        }
      }
    }

    .homepage__profile {
      border-radius: 3px;
      height: 350px;
      box-shadow: 0px 0px 5px 0px rgba($color: #000000, $alpha: 0.5);
      background: #fff;

      .homepage__profile__content {
        .homepage__profile__imgs {
          position: relative;

          .homepage__bg_pic {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            width: 100%;
            z-index: 1;

            img {
              border-top-left-radius: 3px;
              border-top-right-radius: 3px;
              width: 100%;
              height: 70px;
              object-fit: cover;
            }
          }

          .homepage__profile_pic {
            // width: 100%;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            z-index: 2;
            margin: 0 auto;
            margin-top: -50px;
            cursor: pointer;

            img {
              border: 2px solid #fff;
              height: 100px;
              width: 100px;
              border-radius: 50%;
              box-shadow: 0px 0px 5px 0px rgba($color: #000000, $alpha: 0.5);
              object-fit: cover;
            }
          }
        }
      }

      .homepage__profile__info {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        text-align: center;

        h3 {
          font-size: 1.1rem;
          margin-bottom: 5px;
          font-weight: 700;
        }

        p {
          font-size: 13px;
          font-weight: normal;
          width: 70%;
          margin: 0 auto;
          line-height: 1.3;
        }
      }

      .connections {
        margin: 1rem 0;
        padding: 0 0.9rem;

        .title {
          display: flex;
          align-items: center;
          justify-content: space-between;

          P {
            color: #555;
            font-size: 13px;
            font-weight: 600;

            &:nth-child(2) {
              color: $primaryColor;
              font-size: 15px;
            }
          }
        }

        p {
          color: #181818;
          font-weight: 700;
          font-size: 13px;
        }
      }
    }

    .homepage__adverts {
      background: #fff;
      height: 80vh;
      // border: 1px solid #000;
      border-radius: 2px;
      padding: 20px;
      box-shadow: 0px 0px 5px 0px rgba($color: #000000, $alpha: 0.5);
    }
  }
}

.profile__page {
  background: $lightBg;
  color: #181818;
  width: 100vw;
  margin: 0 !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .profile__wrapper {
    width: 55%;
    margin: 7% auto;

    .editProfile {
      background: #fff;
      display: flex;
      flex-direction: column;
      width: 60%;
      margin: 2rem auto;
      border-radius: 2px;

      .editProfile__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;

        h2 {
          font-size: 18px;
          font-weight: 600;
        }

        .fa {
          font-size: 20px;
          transition: all 0.2s ease-out;
          cursor: pointer;

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      .editProfile__imgs {
        width: 100%;
        display: flex;
        flex-direction: column;

        .editProfile__bg_img {
          width: 100%;
          height: 200px;
          position: relative;
          z-index: 1;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .bg__icon {
            position: absolute;
            top: 10px;
            right: 20px;
            color: $primaryColor;
            background: $lightBg;
            height: 30px;
            display: flex;
            z-index: 3;
            align-items: center;
            justify-content: center;
            width: 30px;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
              // background: $primaryColor;
              background: lighten($color: $primaryColor, $amount: 20%);
              color: $lightBg;
            }
          }
        }

        .editProfile__dp_img {
          height: 100px;
          width: 100px;
          border-radius: 50%;
          margin: -50px 0 0 40px;
          z-index: 3;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid $lightBg;
            box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.5);
          }
          .dp__icon {
            position: absolute;
            bottom: 10px;
            box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.5);
            right: 0px;
            color: $primaryColor;
            background: $lightBg;
            z-index: 3;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
              background: lighten($color: $primaryColor, $amount: 10%);
              color: $lightBg;
            }
          }
        }
      }

      .form-group {
        margin: 10px;
        display: flex;
        grid-gap: 10px;

        .form-group__item {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          label {
            font-size: 14px;
            font-weight: normal;
            margin: 3px 0;

            span {
              color: $primaryColor;
            }
          }

          input,
          textarea,
          select {
            width: 100%;
            padding: 5px 7px;
            font-size: 14px;
            border: 1px solid #555;
            outline: none;
            border-radius: 2px;
          }
        }
      }

      .textarea {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // border: 1px solid #000;
        padding: 5px 10px;

        label {
          font-size: 14px;
          font-weight: normal;
          margin: 3px 0;

          span {
            color: $primaryColor;
          }
        }

        textarea {
          width: 100%;
          height: 60px;
          border: 1px solid #555;
          border-radius: 2px;
          outline: none;
          padding: 3px 7px;
          font-size: 15px;
          font-family: inherit;
        }
      }

      .editProfile__footer {
        margin: 20px 10px;
        text-align: right;

        .btn {
          font-size: 14px;
          padding: 5px 20px;
        }

        .btn-primary {
          color: $lightBg;
          margin-left: 10px;
          padding: 5px 20px !important;
        }
      }
    }

    .profile__header {
      background: #fff;
      width: 100%;
      border-radius: 2px;
      margin-bottom: 1rem;
      box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.6);

      .profile__imgs {
        width: 100%;
        border-radius: 2px;
        display: flex;
        flex-direction: column;

        .profile_bgImg {
          height: 180px;
          object-fit: cover;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
        }

        .profile_edit {
          // border: 1px solid #000;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 0 25px;

          button {
            color: $primaryColor;
            border: 1px solid $primaryColor;
            font-weight: normal;
            margin-top: 10px;
            font-size: 13px;
            padding: 7px 1.5rem;

            &:hover {
              background: $primaryColor;
              color: $lightBg;
            }
          }

          .profile_userImg {
            height: 100px;
            width: 100px;
            object-fit: cover;
            border: 2px solid $lightBg;
            border-radius: 50%;
            margin-top: -50px;
            box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.6);
          }
        }
      }

      .profile__info {
        padding: 5px 40px;
        display: grid;
        grid-template-columns: 2.2fr 1fr;
        grid-gap: 10px;
        // border: 1px solid #000;

        .profile__left {
          // border: 1px solid #000;

          h3 {
            font-weight: 600;
            letter-spacing: 0.9px;
            margin-bottom: 7px;
            font-size: 1.2rem;
          }

          p {
            color: #181818;
            font-size: 14px;
          }
          .profile__contacts {
            display: flex;
            flex-direction: row;
            // align-items: center;
            margin-top: 5px;
            grid-gap: 20px;
            // border: 1px solid #000;

            p {
              font-size: 14px;
              font-weight: 700;
            }

            h3 {
              color: $primaryColor;
              font-size: 14px;
              cursor: pointer;
              transition: all 0.3s ease-in;
              border-bottom: 1px solid transparent;

              &:hover {
                border-bottom: 1px solid $primaryColor;
              }
            }
          }
        }

        .profile__right {
          // border: 1px solid #000;
          text-align: right;
          // padding-left: 20px;

          .fa {
            font-size: 20px;
            color: $primaryColor;
            margin-right: 5px;
          }

          p {
            font-size: 14px;
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }
      }
    }

    .experience__wrapper {
      box-shadow: 0px 0px 5px 0px rgba($color: #000000, $alpha: 0.5);
      background: #fff;
      border-radius: 2px;
      width: 100%;
      padding: 30px 0px 10px;
      margin: 1rem 0;

      .profile__title {
        display: flex;
        align-items: center;
        margin-bottom: 1.1rem;
        justify-content: space-between;
        padding: 0px 40px;

        h1 {
          font-weight: 600;
          font-size: 20px;
        }

        .fa {
          color: $primaryColor;
          cursor: pointer;
          transition: all 0.3s ease-in;

          &:hover {
            transform: scale(1.5) rotate(90deg);
            opacity: 0.7;
          }
        }
      }

      .experience__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-gap: 40px;
        margin: 1rem 0;
        border-bottom: 1px solid #aaa;
        padding: 0 40px 15px;

        &:last-child {
          border-bottom: 1px solid transparent;
        }

        &:hover .experience__info > .experience__title > .fa {
          opacity: 1;
        }

        .fa {
          font-size: 40px;
          color: #555;
          // margin-left: 20px;
        }

        .experience__info {
          display: flex;
          width: 100%;
          flex-direction: column;
          // border: 1px solid #000;

          .experience__title {
            display: flex;
            flex-direction: row;
            align-items: center !important;
            justify-content: space-between;
            width: 100%;
            // border: 1px solid #000;

            h4 {
              font-size: 16px;
              font-weight: 700;
              color: #181818;
            }

            .fa {
              font-size: 16px;
              color: $primaryColor;
              cursor: pointer;
              display: flex;
              align-items: center;
              opacity: 0;
            }
          }

          .experience__job {
            color: #181818;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.1;
          }

          .experience__location,
          time {
            font-size: 13px;
            color: #555;
            line-height: 1.1;
          }

          .experience__desc {
            font-size: 14px;
            margin-top: 5px;
          }
        }
      }
    }

    .education__wrapper {
      box-shadow: 0px 0px 5px 0px rgba($color: #000000, $alpha: 0.5);
      background: #fff;
      border-radius: 2px;
      width: 100%;
      padding: 30px 0px 10px;
      margin: 1rem 0;

      .profile__title {
        display: flex;
        align-items: center;
        margin-bottom: 1.1rem;
        justify-content: space-between;
        padding: 0px 40px;

        h1 {
          font-weight: 600;
          font-size: 20px;
        }

        .fa {
          color: $primaryColor;
          cursor: pointer;
          transition: all 0.3s ease-in;

          &:hover {
            transform: scale(1.5) rotate(90deg);
            opacity: 0.7;
          }
        }
      }

      .education__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-gap: 40px;
        margin: 1rem 0;
        border-bottom: 1px solid #aaa;
        padding: 0 40px 15px;

        &:last-child {
          border-bottom: 1px solid transparent;
        }

        &:hover .education__info > .education__title > .fa {
          opacity: 1;
        }

        .fa {
          font-size: 40px;
          color: #555;
          // margin-left: 20px;
        }

        .education__info {
          display: flex;
          width: 100%;
          flex-direction: column;
          // border: 1px solid #000;

          .education__title {
            display: flex;
            flex-direction: row;
            align-items: center !important;
            justify-content: space-between;
            width: 100%;
            // border: 1px solid #000;

            h4 {
              font-size: 16px;
              font-weight: 700;
              color: #181818;
            }

            .fa {
              font-size: 16px;
              color: $primaryColor;
              cursor: pointer;
              display: flex;
              align-items: center;
              opacity: 0;
            }
          }

          .education__degree {
            color: #181818;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.1;
          }

          time {
            font-size: 13px;
            color: #555;
            line-height: 1.1;
          }

          .education__desc {
            font-size: 14px;
            margin-top: 5px;
          }
        }
      }
    }
  }
}

footer {
  height: 50px;
  border-top: 1px solid #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $lightBg;

  p {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0.5rem;
    cursor: pointer;
  }
}

@import "./mobile";
